*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    text-align: center;
    background: #193549;
}
h1{
    color: white;
    margin-top:3.5rem;
    font-size:8rem;
}
.js{
    color: yellow;
    font-size:8rem;
}