*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    text-align: center;
    background: #37c20d;
}
h1{
    color: white;
    margin-top:3.5rem;
    font-size:8rem;
}
.js{
    color: black;
    font-size:8rem;
}
.controls{
    display: flex;
    justify-content: center;
    margin-top:4rem;
    font-size:8rem;
    color: white;
}

